* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
*:not(body):not(html) {
  /*box-sizing:border-box;
  border:1px dashed #000;*/
}

body {
  margin: 0;
  display: block;
  background-color: black;
}

.container {
 width: 100%;
 /*position: relative;*/
 margin: auto;
}

li {
  text-align: center;
}

.beth {
  position: relative;
}

.location {
  top: 450px;
  position: absolute;
  color: white;
  text-align: left;
  margin-left: 10%;
}

.top {
  background-color: white;
  color: black;
  margin-top: 10%;
  margin-left: 10%;
  position: absolute;
}


.header {
  background-color: white;
  color: black;
  width: 170px;
  height: 50px;
  text-align: center;
}
.nav {
background-color: white;
color: black;
width: 170px;
height: 120px;
font-size: 15px;
text-align: center;
}
.nav ul{
  display: inline-block;
  list-style-type: none;
  margin-left: 2%;
}


.image {
  width: 100%;
  height: auto;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  }

.featuredProject {
  display: none;
}

.featuredPress {
  color: white;
  background-color: hotpink;
  width: 50%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  float: left;
  height: 600px;
}

.featuredPress:after {

}

.bio {
  color: white;
  background-color: limegreen;
  width: 50%!important;
  height: auto!important;
  position: static!important;
  z-index: 0!important;
  visibility: visible!important;
  display: block!important;
  float: right;
  bottom: 0;
  height: 100%;
}

.bio:after {

}

.group:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 3vw;
    display: block;
    background-color: black;
  }
  .image {
    width: 100%;
    height: auto;
    position: static;
    z-index: 0;
    visibility: visible;
    display: block;
  }
  .featuredProject {
    display: block;
    background-color: white;
  }
  .nav {
    height: 2vh;
    font-size: 13px;
    color: #444;
    width: 100%;
  }
  .nav li {
    display:inline;
    list-style-type: none;
    margin-right: 3px;
  }
  .header {
      height: 4vh;
      margin-left: 10px;
      margin-top: 15px;
  }
  .location {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    position: static;
    z-index: 0;
    visibility: visible;
    display: block;
    margin: 0;
  }
  .top {
    background-color: white;
    color: black;
    width: 100%;
    height: auto;
    position: static;
    z-index: 0;
    visibility: visible;
    display: block;
    margin: 0;

  }
  .featuredPress {
    background-color: white;
    color: black;
    width: 100%;
    height: auto;
    position: static;
    z-index: 0;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 10px;
    margin-top: 12px;

  }
.bio {
  background-color: white;
  color: black;
  width: 100%;
  height: auto;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  margin: 0;
  padding: 10px;
  margin-top: 16px;

}


}
